body{
margin: 0;
	padding: 0;
	text-align: center;
	font-family: Times new roman;
	background-color: white;
	    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/download.png');
}

.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/backg.jpg');
    height: 10vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
	
}
.welcome-text h2{
	
	text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px
}
.welcome-text p{
		
	text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px
	
	[