body{
margin: 0;
	padding: 0;
	text-align: center;
	font-family: Times new roman;
	background-color: white;
	
}

wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/backg.jpg');
    height: 10vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
	
text-align: center;
    color: #white;
    text-transform:  uppercase;
    font-size: 50px;
}	
.text-uppercase main_heading{
	text-align: center;
    color: #white;
    text-transform:  uppercase;
    font-size: 50px;
	
}