body{
margin: 0;
	padding: 0;
	text-align: center;
	font-family: Times new roman;
	background-color: white;
}

.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/backg.jpg');
    height: 10vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}                         
.navbar-style
{
	box-shadow: 0 1px 10px #efefef;
}
.icon-bar{
	background: darkorange;
}
.header{
    float: center;
    list-style: none;
    margin-top: 20xp;
	align-items: center;
	padding: 10xp;
	    height: 100vh;
}
.header li{
    display: inline-block;
	align-items: center;
	 text-align: center;
}
.header li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
 text-align: center;
}
.header li a:hover{
    background: #fff;
    color: #333;
	align-items: center;
	text-align: center;
}
.welcome-text{
    position: absolute;
    width: 200px;
    height: 300px;
    margin: 5% 10%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text h2{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}

/*resposive*/

@media (max-width:600px){
    .wrapper {
width: 100%;
}
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}
img {
width: ;
}
.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    .welcome-text {
width: 100%;
height: auto;
margin: 30% 0;
}
    .welcome-text h1 {
font-size: 30px;
}
   
}
	.get-started a {
	border: 1px solid blue;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: white;
	position: center;
	margin-top: 500px;
	

	
	}
	.welcome-text p {
	 padding: 1px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    color: white;
	position: auto;
	margin-top: 10px;
	 text-align: capitalize;
	 text-indent :5px;
	 
}
	
}
		

	

