 <title>about watalok</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/josh.css">
<body>
	    <div class="wrapper">
        </div>

        <header class="main_header">
            <div class="d-flex justify-content-center align-items-center flex-column py-5">
                <h1 class="text-uppercase main_heading">About Us</h1>
				<p class="main_heading">Cellphone Services <span class="text-capitalize bg-dark text-white py-2 px-3"> Watalok</span> </p>
            </div>
            </div>
            <div class="main_header__div d-flex align-items-start
        justify-content-center  flex-column shadow pl-5">
                <div class="welcome-text">
                <span class="text-capitalize bg-dark text-white py-1
				px-5">Watalok Cellphone services is located in Brgy.Naga-asan, Babatngon Leyte. We offer home service to repair your cellphones.
				</div>
				</span>
				

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
